/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	max-width: 1000px;
	margin: auto;
}



table{
	border: 3px solid black;
	border-collapse: collapse;
	margin-bottom: 50px;
}
th{
	background: gray;
	border-right: 3px solid black;
}
tr:nth-child(even){
	background-color: lightgray;
}
td{
	min-width: 100px;
	padding: 3px 5px;
	border-right: 3px solid black;
	text-align: center;
}
td>*{
	margin: 0px 15px;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #ddd}

.right{
	float: right;
}

.row{
	max-width: 500px;
}
.row span:first-child{
	display: inline-block;
	width: 150px;
	margin: 25px 20px 0px 0px;
	text-align: right;
}
span:nth-child(2){
	text-align: left;
}